@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #6C4BCF;
  --color-secondary: #4B3F72;
  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-content: #1f2937;
}


@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #6C4BCF;
  --color-secondary: #4B3F72;
  --color-base-100: #0f172a;
  --color-base-200: #020617;
  --color-base-content: #e5e7eb;
}
